.buttonBack {
  background-color: hsla(0, 0%, 13%, 0.25);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  outline-offset: 4px;
  border-radius: 0.2rem;
  transition: all 0.1s ease-in-out;
}

.buttonShadow {
  background-color: #685a40;
  position: relative;
  display: block;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  outline-offset: 4px;
  border-radius: 0.2rem;
  transform: translateY(-2px);
  transition: all 0.1s ease-in-out;
}
.buttonBack2 {
  width: auto;
  height: auto;
}
.buttonShadow2 {
  width: auto;
  height: auto;
}

.buttonBack3,
.buttonShadow3 {
  width: 7rem;
}

.buttonFront {
  position: relative;
  display: block;
  background-color: #FFDB99;
  transform: translateY(-6px);
  border-radius: 0.2rem;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.buttonFront2 {
  padding: 1.1rem 0.8rem
}

.buttonFront3 {
  font-size: 1rem;
  padding: 0 0.8rem;
}

.buttonBack:active .buttonShadow {
  transform: translateY(0px);
}

.buttonBack:active .buttonFront {
  transform: translateY(-1px);
}

.buttonFront:hover{
  transform: translateY(-8px);
}

.startButton {
  margin-top: -148px;
  margin-bottom: 80px;
}

.boardChanger {
  display: flex;
  width: 90%;
  justify-content:space-between;
  background-color: #48348a
}

.buttonHolder {
  background-color: var(--primary-purple);
  border-radius: 0.2rem;
  border-bottom: 14px solid #48348a;
  border-right: 10px solid #48348a;
  border-left: 10px solid #48348a;
  box-shadow: 0px 10px 0px #1F0F53;
}

.pieceSelectorBorder {
  border-left: 1px solid #48348a;
  border-right: 1px solid #48348a;
}