.startMenu {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-purple);
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 20rem;
  height: 20rem;
  border: solid 3px rgb(20, 18, 18);
  border-radius: 0.3rem;
  color: var(--primary-yellow);
} 


