@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.notationsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #1F0F53;
  color: #FFDB99;
  padding: 1.4rem 1rem;
  border-radius: 0.3rem;
}

.notationsContainer > * {
  width: 100%;
  background-color: #34295a;
  border: 2px solid #1F0F53;
  text-align: center;
  box-sizing: border-box;
}

.notationsContainer > :nth-child(4n + 1) {
  background-color: #271a52;
}
.notationsContainer > :nth-child(4n + 2) {
  background-color: #271a52;
}

.notationActive {
  border: 2px solid #FFDB99;
}