@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.button1 {
  background-color: #FFDB99;
  color: #1F0F53;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.3rem 1.3rem;
  border-radius: 1.4rem;
  border: 2px solid #1F0F53;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button1:hover {
  background-color: #1F0F53;
  color: #FFDB99;
}
/* 
.button1:active {
  background-color: #573ea8;
  border-color: #573ea8;
} */